%h1 タスク一覧
%table
  %thead
    %tr
      %th タスク名
  %tbody
  - @user.notes.each do |note|
    %tr
      %td= note.memo
      %td= link_to '編集', edit_note_path(note),class:"btn btn-info"
  = link_to '追加', new_note_path,class:"btn btn-dark", style:"margin:30px;"
  - if flash[:notice]
    .flash{style:"font-size:30px;color:red;margin-left:100px;"}
      = flash[:notice]