%body
  .admin
    %header.admin__header
      .logo
        %h1 TIENG VIET
      .toolbar
        .toolbar__left
          =link_to "Favorite", users_path, class:"btn btn--primary"
      %form.form-inline.my-2.my-lg-0
        %input.form-control.mr-sm-2{"aria-label" => "Search",placeholder:"Search",type:"search"}
        =link_to "https://www.youtube.com/?gl=JP&hl=ja" do
          %button.btn.btn-outline-success.my-2.my-sm-0{type:"submit"} Search
        .toolbar__right
          =link_to"https://www.facebook.com/sharer/sharer.php?u=###url###", {onclick:"window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false",target:"_blank"}do
            .btn.fab.fa-facebook-square{style:"padding:0 10px 0 0;font-size:30px;color:#315096;"}
          =link_to"http://line.me/R/msg/text/?###url###",{onclick:"window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false",target:"_blank"}do
            .btn.fab.fa-line{style:"padding:0 10px 0 0;font-size:30px;color:#00c300;"}
          = link_to "ログアウト",destroy_user_session_path,method: :delete, class: "btn btn--primary"
    %nav.admin__nav
      %ul.menu
        %li.menu__title Content
        %li.menu__item
          = link_to "場面別", "items/home",class:"menu__link"
        %li.menu__item
          %a.menu__link{:href => "#"} Templates
        / <li class="menu__divider"></li>
        %li.menu__title Content
        %li.menu__item
          %a.menu__link{:href => "#"} Media
        %li.menu__item
          %a.menu__link{:href => "#"} Templates
        / <li class="menu__divider"></li>
        %li.menu__title Network
        %li.menu__item
          %a.menu__link{:href => "#"} Players
        %li.menu__item
          %a.menu__link{:href => "#"} Channels
        %li.menu__item
          %a.menu__link{:href => "#"} Domains
        / <li class="menu__divider"></li>
        %li.menu__title Account
        %li.menu__item
          = link_to "アカウント作成",new_registration_path(current_user), class: "menu__link"
        %li.menu__item
          = link_to "アカウント編集", edit_registration_path(current_user), class: "menu__link"
        / <li class="menu__divider"></li>

    %main.admin__main
      .dashboard
        .dashboard__item
          .card
            .card__header
              Players
            .card__content
              .card__item
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ab libero consectetur et numquam a id. Dignissimos nesciunt aperiam ut minima itaque repudiandae architecto praesentium autem. Porro ad labore fugiat?
        .dashboard__item.dashboard__item--col
          .card
            .card__header
              Memory
            .card__content
              .card__item
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore id culpa sit nisi nostrum, excepturi cumque eos laborum ducimus alias, provident doloribus et facere explicabo ab repudiandae perferendis earum.
        .dashboard__item.dashboard__item--col
          .card
            .card__header
              Disk usage
            .card__content
              .card__item
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore id culpa sit nisi nostrum, excepturi cumque eos laborum ducimus alias, provident doloribus et facere explicabo ab repudiandae perferendis earum.
        .dashboard__item.dashboard__item--full
          .card
            .card__header
              Card full width
            .card__content
              .card__item
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore id culpa sit nisi nostrum, excepturi cumque eos laborum ducimus alias, provident doloribus et facere explicabo ab repudiandae perferendis earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dolore laudantium est, vel illo labore nostrum cupiditate perspiciatis, doloremque sit enim sequi, quasi cumque dolorum voluptate! Aliquam corrupti laboriosam nostrum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda cupiditate porro dolores optio dicta tempora quas, culpa itaque, unde recusandae tempore. Voluptas quia perferendis est veritatis nobis, iusto voluptate dolor?
        .dashboard__item.dashboard__item--col
          .card
            .card__header
              Card
            .card__content
              .card__item
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore id culpa sit nisi nostrum, excepturi cumque eos laborum ducimus alias, provident doloribus et facere explicabo ab repudiandae perferendis earum.
        .dashboard__item.dashboard__item--col
          .card
            .card__header
              Card
            .card__content
              .card__item
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore id culpa sit nisi nostrum, excepturi cumque eos laborum ducimus alias, provident doloribus et facere explicabo ab repudiandae perferendis earum.
        .dashboard__item.dashboard__item--col
          .card
            .card__header
              Card
            .card__content
              .card__item
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore id culpa sit nisi nostrum, excepturi cumque eos laborum ducimus alias, provident doloribus et facere explicabo ab repudiandae perferendis earum.
        .dashboard__item.dashboard__item--col
          .card
            .card__header
              Card
            .card__content
              .card__item
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore id culpa sit nisi nostrum, excepturi cumque eos laborum ducimus alias, provident doloribus et facere explicabo ab repudiandae perferendis earum.
        .dashboard__item.dashboard__item--full
          .card
            .card__header
              Card full width
            .card__content
              .card__item
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore id culpa sit nisi nostrum, excepturi cumque eos laborum ducimus alias, provident doloribus et facere explicabo ab repudiandae perferendis earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dolore laudantium est, vel illo labore nostrum cupiditate perspiciatis, doloremque sit enim sequi, quasi cumque dolorum voluptate! Aliquam corrupti laboriosam nostrum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda cupiditate porro dolores optio dicta tempora quas, culpa itaque, unde recusandae tempore. Voluptas quia perferendis est veritatis nobis, iusto voluptate dolor?
        .dashboard__item.dashboard__item--full
          .card
            .card__header
              Card full width
            .card__content
              .card__item
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore id culpa sit nisi nostrum, excepturi cumque eos laborum ducimus alias, provident doloribus et facere explicabo ab repudiandae perferendis earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dolore laudantium est, vel illo labore nostrum cupiditate perspiciatis, doloremque sit enim sequi, quasi cumque dolorum voluptate! Aliquam corrupti laboriosam nostrum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda cupiditate porro dolores optio dicta tempora quas, culpa itaque, unde recusandae tempore. Voluptas quia perferendis est veritatis nobis, iusto voluptate dolor?
    %footer.admin__footer